@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');


body {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


:root {
    --color-lg: #2cdd88;
    --color-lp: #71a3ff;
}

::selection {
    background: #2cdd871f;
}

.c_lg {
    color: var(--color-lg);
}

.c_lp {
    color: var(--color-lp);
}

.c_bl {
    color: black;
}

.c_red {
    color: red;
}

.sec_default {
    padding-top: 60px;
}

a {
    text-decoration: none;
    color: black;
    transition: .25s;
}

a:hover {
    color: var(--color-lg);
}


.col_align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}




img {
    width: 100%;
    height: auto;
}


.mb_sm_ba_col {
    display: none;
}

.c_de_ta {
    overflow: auto;
}

.de_br_bo_btn {
    cursor: pointer;
    transition: .3s;
}

.de_br_bo_btn:hover {
    color: var(--color-lg);
}

/* .rev_modal {
  padding: 20px;
} */



/* =========================================================================== */





/* navbar css start */


nav.navbar {
    position: sticky;
    top: 0;
    z-index: 1030;
    padding: 0;
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 18px 0 16px;
    background: white;
}

.navbar .nav_inn {
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 10px 15px;
    background: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    width: 200px;
    padding: 0;
}

.navbar-brand img {
    width: 100%;
}

.dropdown-toggle::after {
    display: inline-block;
    vertical-align: 0.2em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.nav-link {
    color: #000000b5;
}

.nav-link:focus, .nav-link:hover {
    color: var(--color-lg);
}

/* navbar css end */






/* hero section css start */



.hero_sec_fp {
    margin-top: 30px;
    position: relative;
}

/* .hero_ban_main img { */
/* width: 100%; */
/* height: 150px; */
/* margin-bottom: 25px; */
/* opacity: 0.8; */
/* } */

.hero_ban_main {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.he_me_bo {
    /* box-shadow: #2123261a 0px 0px 10px 0;
    padding: 18px; */
    margin: 30px 0;
    padding: 10px;
}

.he_me_bo_con {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 18px;
}

.he_me_box {
    display: flex;
    gap: 12px;
}

.he_me_box img {
    width: 100px;
    /* border: 1px solid var(--color-lp); */
    padding: 8px;
    box-shadow: #2123261a 0px 0px 10px 0;
    background: white;
}

.mb_sm_ban_co {
    height: 100%;
}

.mb_sm_ban {
    width: 100%;
    height: inherit;
}

.he_im_ma img {
    width: 70%;
    height: 250px;
    display: block;
    margin: auto;
    /* background: #00000014; */
    padding: 16px;
    /* border-radius: 10px;
    box-shadow: #2123261a 0px 0px 10px 0; */
}

.he_co_ma,
.he_im_ma {
    margin: 5px 0 30px;
}

.he_co_ma {
    width: 50% !important;
    text-align: center;
    margin: auto;
    padding: 45px 0;
    display: block !important;
}



.hero_btns {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

/* .he_me_box a {
    font-size: 18px;
} */

.br_sp,
.hm_sp {
    position: relative;
    z-index: 10;
}

.br_sp::after {
    position: absolute;
    content: '';
    background: url(../images/ele-1.png);
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 16px;
    background-position: bottom;
    background-size: cover;
    z-index: -1;
    transform: rotate(-5deg);
}

.he_co_he {
    line-height: 1.3;
}

.hm_sp::after {
    position: absolute;
    content: '';
    background: url(../images/ele-1.png);
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 8px;
    background-position: bottom;
    background-size: cover;
    z-index: -1;
    transform: rotate(-5deg);
}


.hero_sec {
    padding: 110px 0 220px;
    background: url('../../../public/Assets/images/Chart.png');
    /* color: white; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background: #f3f3f3; */
    display: none;
}

.hero_sec_bg {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.he_me_bo_inn {
    padding: 0 30px;
    background: #ffffff;
    margin-bottom: 30px;
    box-shadow: #2123261a 0px 0px 10px 0;
    /* backdrop-filter: blur(30px); */
}

/* .sec_he_me_bo {
    margin-top: -120px;
} */

.he_ele_col {
    align-items: center;
}

/* .he_me_bo h4 {
    color: white;
} */

.c_b_hc_ti {
    padding-left: 10px;
}


.com_sli_it {
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 30px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin: 12px;
}

.hp_c_fo {
    margin-bottom: 20px;
}

.comp_img {
    width: 30px !important;
    height: 30px;
    border-radius: 6px;
}

.com_si_bro {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: center;
}

.hp_c_fo .com_for {
    background: none;
    padding: 20px 0;
    justify-content: flex-end;
}


@media only screen and (max-width: 575px) {
    .hero_sec {
        padding: 70px 0 180px;
    }

    .he_ele_col {
        display: none !important;
    }

    .he_me_bo {
        margin: 8px 0;
    }

    .he_me_bo_inn {
        padding: 0 8px;
    }

    .c_b_hc {
        margin-top: 18px;
    }

    .com_ins {
        flex-wrap: wrap;
        justify-content: center;
    }

    .to_fi_tr_ta {
        border-spacing: 0 10px;
    }

    .rev_bo_me,
    .rev_to_me {
        flex-wrap: wrap;
        gap: 8px;
    }

    .bl_card {
        padding: 12px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 576px) {
    .he_ele_col {
        margin-top: 50px;
    }

    .c_b_hc {
        margin-top: 18px;
    }

    .he_me_bo {
        margin: 10px 0;
    }

    .he_me_bo_inn {
        padding: 0 20px;
    }

}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    .he_ele_col {
        margin-top: 0px;
    }

    .c_b_hc {
        margin-top: 0;
    }

    .he_me_bo {
        margin: 30px 0;
    }

    .he_me_bo_inn {
        padding: 0 30px;
    }

}

@media only screen and (min-width: 1200px) {}

.he_bo_slider {
    position: relative;
}

.owl-theme .owl-nav {
    margin-top: 0;
    text-align: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.owl-theme .owl-nav button.owl-prev {
    margin: 0;
    font-size: 40px;
    color: var(--color-lg);
    margin-left: -10px;
}

.owl-theme .owl-nav button.owl-next {
    margin: 0;
    font-size: 40px;
    color: var(--color-lg);
    margin-right: -10px;
}

.owl-theme .owl-nav button.owl-prev:hover,
.owl-theme .owl-nav button.owl-next:hover {
    background: none;
    color: var(--color-lg);
    text-decoration: none;
}




/* hero section css end */





/* top 10 broker section css start */

.sec_to_ten_bro {
    padding-bottom: 40px;
}


table.top_te_br_ta {
    width: 100%;
    border: 1px solid var(--color-lg);
    margin-top: 20px;
}

.top_te_br_ta th {
    color: var(--color-lp);
    padding: 6px 12px;
    border: 1px solid var(--color-lg);

}

.top_te_br_ta tbody tr {
    border: 1px solid var(--color-lg);

}

.top_te_br_ta tbody tr td {
    padding: 6px 12px;
    border: 1px solid var(--color-lg);

}

.top_te_br_ta tbody tr td:nth-child(1) {
    color: var(--color-lp);
}

.br_ta_main {
    /* margin-bottom: 40px; */
    display: block;
    overflow: auto;
}
.top_te_br_ta tbody tr:hover {
    background: #2cdd8814;
}

.td_align {
    display: flex;
    align-items: center;
}

.td_vi_si_a {
    /* color: var(--color-lg);
    text-decoration: underline; */
    border-bottom: 1px solid var(--color-lg);
}

.td_vi_si_a:hover {
    color: var(--color-lp);
}

.td_br_lo {
    width: 100px;
}


/* top 10 broker section css end */




/* top 5 trader section css start */


.to_fi_tr_ta {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.to_fi_tr_ta_con {
    display: block;
    overflow: auto;
    padding: 4px;
}

.to_fi_tr_ta tbody tr {
    box-shadow: #2123261a 0px 0px 10px 0;
}
.to_fi_tr_ta thead tr th {
    padding: 6px 12px;
}
.to_fi_tr_ta tbody tr td {
    padding: 15px;
}


/* top 5 trader section css end */





/* bolg and blog details css start */


.bl_card {
    border: 1px solid var(--color-gg);
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: #2123261a 0px 0px 10px 0;
}

.bl_card_img {
    width: 100%;
    height: auto;
}

.bl_card_desc {
    margin: 0;
}

.bl_card_title {
    height: 54px;
    margin: 0;
    overflow: hidden;
}

.bl_card_meta {
    display: flex;
    justify-content: space-between;
}

.bl_card_cate p {
    background: var(--color-lg);
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
}

.bl_card_btn {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: flex-end;
}

.bl_card_bt_me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bl_share {
    background: var(--color-lg);
    color: white;
    border-radius: 4px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
    gap: 6px;
}

.bl_share:hover {
    width: 105px;
}

.bl_s_op {
    display: none;
    gap: 2px;
    width: fit-content;
    transition: .5s ease-in-out;
    transition-delay: 1s;

}
.bl_share:hover .bl_s_op {
    display: flex;
}

.bl_s_op a {
    color: white;
}
.bl_s_op a:hover {
    color: white;
}

.bl_share:hover .sh_ic {
    background: var(--color-lp);
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 4px;
}

/* .fb:hover {
    color: #5c7dc1;
} */

/* .bl_share:hover .fb {
    background: #5c7dc1;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 4px;
}
.bl_share:hover .ln {
    background: #1182c1;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 4px;
}
.bl_share:hover .pt {
    background: #f51f3f;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 4px;
}
.bl_share:hover .tw {
    background: #00acee;
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 4px;
} */

.bl_det_side {
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 18px;
    border-radius: 6px;
    position: sticky;
    top: 95px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    display: none;
}

.bl_det_main {
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 18px;
    border-radius: 6px;
    
}

.top_bar_ics {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.bl_de_con img {
    display: block;
    width: 90%;
    margin: 0 auto 16px;
}


.bl_de_main_img {
    margin-bottom: 16px;
    width: 100%;
}

.bl_det_main .bl_card_meta {
    margin-bottom: 14px;
}

.bl_de_sh_ma {
    margin: 0 !important;
    gap: 8px;
}

.bl_ne_pre {
    padding-top: 12px;
    border-top: 1px solid var(--color-lg);
    margin-top: 16px;
}

.top_bar_ics .fb,
.top_bar_ics .ig,
.top_bar_ics .li,
.top_bar_ics .pt,
.top_bar_ics .tw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
}

.top_bar_ics .fb a,
.top_bar_ics .ig a,
.top_bar_ics .li a,
.top_bar_ics .pt a,
.top_bar_ics .tw a {
    color: white;
}

.sd_bl {
    display: flex;
    gap: 12px;
}

.sd_bl_img img {
    width: 130px;
}

.sd_bl_ti a {
    color: #31353a;
    text-decoration: none;
    font-weight: 600;
}

.bl_det_si_bls {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.bl_de_co_ta {
    margin: 16px 0;
    display: block;
    overflow: auto;
}


/* blog and blog details css end */





/* reviews css start */

/* custom pors-cons-li style */
.de_br_pr ul li{
    list-style-type: none;
}
.de_br_co ul li{
    list-style-type: none;
}
.de_br_pr ul{
    position: relative;
}

.de_br_pr ul li::before{
    content: "☑";
    position: absolute;
    left: 0;
    font-size: 20px;
    color:var(--color-lg);
}
.de_br_co ul{
    position: relative;
}

.de_br_co ul li::before{
    content: "✘";
    position: absolute;
    left: 0;
    z-index: 0;
    font-size: 16px;
    color:red;
}


.rev_bo_me,
.rev_to_me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rev_car_ma p,
.rev_car_ma h5 {
    margin: 0;
}

.rev_rat {
    background: var(--color-lg);
    color: white;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 16px;
}

.rev_rat svg {
    margin-bottom: 2px;
}

.rev_car_ma {
    display: flex !important;
    flex-direction: column;
    gap: 12px;
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 15px;
    border-radius: 6px;
}
.re_mar {
    margin: 10px;
}

.rev_to_me h5,
.rev_to_me p {
    display: flex;
    align-items: center;
    gap: 2px;
}







/* reviews css end */
























/* broker details css start */




.de_br_ca {
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: #2123261a 0px 0px 10px 0;
}

.de_br_ca_to {
    position: relative;
    border-bottom: 1px solid var(--color-lg);
}

.br_ca_to_in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #00000070;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s ease-in-out;
}

.br_ca_to_in a {
    background: #2cdd88;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
}

.br_ca_to_in a:hover {
    color: white;
}

.de_br_ca_to:hover .br_ca_to_in {
    transform: translate(-50%, -50%) scale(1);
}

.br_de_ra {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-lg);
    width: fit-content;
    padding: 2px 8px;
    gap: 4px;
    border-radius: 4px;
    margin: auto;
}


.de_br_bo_btn {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: flex-end;
}

.de_br_ca_bo {
    display: flex;
    justify-content: space-between;
}


.de_br_re_main {
    padding: 16px;
    border-radius: 6px;
    box-shadow: #2123261a 0px 0px 10px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.de_br_re_main h1 {
    margin-bottom: 12px;
}

.de_br_pr {
    background: #2cdd8817;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 24px;
}

.de_br_co {
    background: #dd2c2c14;
    padding: 16px;
    border-radius: 6px;
}

.br_de_sid_ban {
    display: none;
    padding: 14px;
    border-radius: 6px;
    margin-bottom: 28px;
    box-shadow: #2123261a 0px 0px 10px 0;
}

.br_de_sid_ban img {
    width: 100%;
}

.br_de_sidebar {
    position: unset;
    top: 100px;
}

.last_p p:last-child {
    margin: 0;
}

.last_p p {
    display: flex;
    gap: 4px;
    align-items: center;
}

.de_br_pr p i {
    color: var(--color-lg);
    margin-bottom: 2px;
}

.de_br_co p i {
    color: #f53d3d;
    margin-bottom: 2px;
}

.de_br_ta table {
    display: block;
    overflow: auto;
}

.de_br_re_main h3 {
    margin-bottom: 12px;
}

.de_br_re_main .top_te_br_ta {
    border: none;
}

.tr_in_ta_main .top_te_br_ta {
    width: fit-content;
}

.tr_in_ta_main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.com_ins {
    display: flex;
    gap: 20px;
}

.comp_btn {
    display: flex;
    align-items: center;
    gap: 6px;
}

.compare_btn{
    border: none !important;
    background: transparent !important;
}
   

.de_me_sli img,
.wi_me_sli img {
    width: auto !important;
}

.bd_frp {
    margin-bottom: 20px;
}










.faq-content {
    margin: 0 auto;
}

.faq-question {
    padding: 12px 0;
    border-bottom: 1px solid var(--color-lg);
    position: relative;
}

.panel-title {
    font-size: 22px;
    width: 100%;
    position: relative;
    margin: 0;
    padding-left: 30px;
    display: block;
    cursor: pointer;
}

.panel-content {
    font-size: 18px;
    padding: 0px 12px;
    margin: 0 20px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 12px;
}

.plus {
    position: absolute;
    z-index: 5;
    font-size: 42px;
    line-height: 100%;
    user-select: none;
    transition: .2s ease;
    color: var(--color-lp);
    top: 5px;
}

.panel:checked~.plus {
    transform: rotate(45deg);
    color: var(--color-lg);

}

.panel {
    display: none;
}



.com_for {
    display: flex;
    gap: 20px;
    background: #c5dff524;
    padding: 18px;
    border-radius: 6px;
    align-items: center;
}

input:disabled {
    border: 1px solid var(--color-lg);
    padding: 5px 10px;
    border-radius: 4px;
}


.com_for select {
    border: 1px solid var(--color-lg);
    padding: 5px 10px;
    border-radius: 4px;
}

.com_for select:focus-visible {
    outline: none;
}

.br_de_rev_ma .rev_car_ma {
    margin-bottom: 20px;
    box-shadow: none;
    background: #c5dff524;
}

.br_de_rev_ma .rev_car_ma:last-child {
    margin-bottom: 0;
}

.bro_det_re_bar {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: #c5dff524;
    padding: 20px 20px;
    border-radius: 8px;
    gap: 20px;
}

/* .ta_pl_fe_in {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
} */

/* .br_de_rev_ma .rev_to_me {
    display: unset;

} */

.rev_bo_me .br_de_ra {
    margin: 0;
}

.re_he {
    border-bottom: 1px solid var(--color-lg);
    padding-bottom: 8px;
}




/* broker details css end */



/* action btn and review submit from design start*/

.modal-content {
    border: 0;
}
.modal-body input {
    border: none;
    border-bottom: 1px solid var(--color-lg);
    background: aliceblue;
    padding: 6px;
    outline: none;
    margin-bottom: 12px;
    width: 100%;
}

.modal-body textarea {
    border: none;
    border-bottom: 1px solid var(--color-lg);
    background: aliceblue;
    padding: 6px;
    outline: none;
    width: 100%;
    margin-bottom: 12px;
}

.rat_stars {
    margin-bottom: 12px;
    padding: 6px;
}

.de_br_bo_btn {
    border: 0;
    background: none;
}
.modal-header {
    color: var(--color-lp);
}
.modal-body button:last-child {
    margin-top: 12px;
}

/* action btn and review submit from design end */

/* bonus and bonus details css start */


.bon_card {
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: #2123261a 0px 0px 10px 0;
}

.bon_car_br {
    border-bottom: 1px solid var(--color-lg);
    position: relative;
}

.bon_ca_bo a h4 {
    margin: 0;
}

.bon_card_btn {
    display: flex;
    align-items: center;
    gap: 6px;
}

.bon_car_btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sq_1 {
    width: 50px;
    height: 30px;
    position: absolute;
    background: var(--color-lp);
    top: -5px;
    left: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
    border-radius: 4px;
}
.tr_1 {
    width: 21px;
    height: 21px;
    position: absolute;
    background: var(--color-lp);
    transform: rotate(45deg);
    top: 8px;
    left: 2px;
    z-index: 1;
}
.bon_car_br img {
    padding: 10px;
}

.inst_ca {
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 15px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    margin-bottom: 24px;
}

.bon_sli .slick-slide>div {
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}

.bon_sli .item img {
    margin: 0 auto;
    width: auto;
}

.bon_sli .item {
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    margin: 10px;
}

.inst_ca h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
.inst_ca p {
    margin: 0;
}

.inst_ca span {
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    bottom: -25px;
    opacity: 0.2;
    z-index: -1;
    right: 0;
}

.bon_faqs {
    display: flex;
    gap: 4px;
    margin-bottom: 24px;
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 20px;
    border-radius: 6px;
}

.po_inn {
    background: whitesmoke;
    padding-bottom: 90px;
    padding-top: 60px;
    position: relative;
    z-index: 0;
}

.top_te_br_ta_inn {
    overflow: auto;
}


/* bonus and bonus details css end */







/* about css start */


.fe_ab_ca {
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 18px;
    margin-top: 20px;
    border-radius: 6px;
    text-align: center;
}
.fe_ab_ca p,
.fe_ab_ca h4 {
    margin: 0;
}

.fe_ab_ca h4 {
    color: var(--color-lp);
}

.fe_ab_ca i {
    font-size: 30px;
    color: #2cdd88;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.ab_he_img {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.ab_ne_le {
    position: relative;
    background: #7eacff24;
    border-radius: 8px;
    padding: 30px;
}

.ab_ne_le_img_col {
    position: relative;
}

.ab_ne_le_inn {
    padding: 50px;
    /* margin-bottom: 10px; */
    position: relative;
    z-index: 1;
}

.ab_ne_le_img {
    position: absolute;
    width: 50%;
    top: -175px;
    right: 40px;
    z-index: 1;
}


.ab_ne_le_fo {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}

.ab_ne_le_inp {
    border: none;
    outline: none;
    padding: 7px 12px 9px;
    border-radius: 5px;
    background: #3ad69b2b;
}

.sec_mb {
    margin-bottom: 80px;
}


.ab_di_img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.ab_bu_img {
    width: 50%;
    display: block;
    margin: 0 auto;
}



/* about css end */





/* contact css start */


._me {
    /* display: flex; */
    gap: 8px;
    align-items: center;
    /* box-shadow: #2123261a 0px 0px 10px 0; */
    padding: 12px;
    border-radius: 6px;
    margin-top: 22px;
    border: 1px solid #2cdd88;
}

/* .cont_ri {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 15px;
    border-radius: 6px;
} */


.con_ma_inn {
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 40px;
    border-radius: 6px;
}


.con_if {
    width: 100%;
    height: 420px;
}

.f_in_ali {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}


.f_in_ali label {
    color: var(--color-lp);
}

.f_in_ali input,
.f_in_ali textarea {
    border: none;
    border-bottom: 1px solid var(--color-lg);
    background: aliceblue;
    padding: 6px;
    outline: none;
}


/* .co_sh_col {
    box-shadow: #2123261a 0px 0px 10px 0;
    padding: 15px;
    border-radius: 6px;
} */

.ft_sc_ma {
    margin-bottom: 30px;
}

.ft_sc_ma h4 {
    margin-bottom: 12px;
}

._svg i {
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--color-lp);
}

.co_sh_col {
    margin-bottom: 30px;
}


/* contact css end */






/* footer css start */





/* .sec_fo_in {
    box-shadow: #2123261a 0px 0px 10px 0;
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 30px;
} */

.sec_footer {
    background: #0a0a0a;
    padding: 100px 0;
    margin-top: 80px;
    color: white;
}



.ft_to_svg {
    font-size: 22px;
    color: var(--color-lp);
}

.ft_me_col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.ft_to_me {
    padding: 12px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid var(--color-lg);
    display: flex;
    align-items: center;
    gap: 14px;
}

.ft_lis h4 {
    color: var(--color-lp);
}

.ft_lis a {
    color: white;
}


.ft_sc_ics {
    display: flex;
    gap: 6px;
}

.ft_sc_ics a {
    width: 25px;
    height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 4px;
}
.ft_sc_ics a:hover {
    color: white;
}

.ft_sc_main {
    margin-bottom: 20px;
}

.fb {
    background: #5c7dc1;
}
.ig {
    background: #ed5186;
}
.li {
    background: #1182c1;
}
.pt {
    background: #f51f3f;
}
.tw {
    background: #00acee;
}
.rd {
    background: #ff4500;
}
.tle {
    background: #31abdd;
}
.wh {
    background: #25d366;
}

.ft_lis {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ft_br_img{
    width: 200px;
}

.ft_br_i_in {
    margin-bottom: 8px;
}


/* footer css end */








































@media only screen and (max-width: 575px) {

    .hp_c_fo .com_for {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sec_top {
        margin: 10px 0 20px;
    }

    .sec_head {
        font-size: 32px;
    }

    .sec_default {
        padding-top: 30px;
    }

    .hero_sec_fp {
        margin-top: 20px;
    }

    .hero_ban_main {
        margin-bottom: 20px;
    }








    .panel-title {
        font-size: 20px;
    }


    .sec_mb {
        margin-bottom: 40px;
    }

    .ab_h_mt {
        margin-top: 30px;
    }

    .ab_h_mb {
        margin-bottom: 30px;
    }

    .ab_ne_le_inn {
        padding: 20px;
    }

    .ab_ne_le_img {
        display: none;
    }






    .con_ma_inn {
        padding: 20px;
    }




    .po_inn {
        padding-bottom: 50px;
        padding-top: 30px;
    }


    .ft_to_me {
        padding: 8px 10px;
        margin-bottom: 16px;
        gap: 8px;
    }

    .ft_to_me h5 {
        font-size: 18px;
    }

    .sec_footer {
        padding: 60px 0;
        margin-top: 50px;
    }



    .owl-theme .owl-nav button.owl-prev{
        margin-left: 0px !important;
    }
    .owl-theme .owl-nav button.owl-next{
        margin-right: 0px !important;
    }
}

@media only screen and (min-width: 576px) {
    .sec_default {
        padding-top: 30px;
    }

    .sec_top {
        margin: 10px 0 20px;
    }

    .sec_head {
        font-size: 32px;
    }



    .ab_h_mt {
        margin-top: 30px;
    }

    .ab_h_mb {
        margin-bottom: 30px;
    }

    .ab_ne_le_img {
        width: 40%;
        top: -115px;
        right: -10px;
    }

    .sec_mb {
        margin-bottom: 40px;
    }
  
}

@media only screen and (min-width: 768px) {
    .ab_ne_le_img {
        width: 30%;
        top: -155px;
        right: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .mb_sm_ba_col {
        display: block;
    }

    .sec_default {
        padding-top: 50px;
    }

    .sec_top {
        margin: 15px 0 30px;
    }

    .sec_head {
        font-size: 36px;
    }







    .br_de_sid_ban {
        display: block;
    }

    .br_de_sidebar {
        position: sticky;
    }

    .bd_frp {
        margin-bottom: 0;
    }

    .de_br_ca {
        padding: 10px;
    }

    .de_br_bo_btn {
        gap: 2px;
    }





    .bl_det_side {
        display: flex;
    }




    .ab_h_mt {
        margin-top: 0px;
    }

    .ab_h_mb {
        margin-bottom: 0px;
    }

    .sec_mb {
        margin-bottom: 60px;
    }

    .ab_ne_le_img {
        width: 65%;
        top: -150px;
        right: 0;
    }



    .co_sh_col {
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1200px) {

    .fp_img {
        width: fit-content;
    }

    .sec_default {
        padding-top: 60px;
    }

    .sec_top {
        margin: 20px 0 40px;
    }

    .sec_head {
        font-size: 42px;
    }





    .de_br_ca {
        padding: 16px;
    }

    .de_br_bo_btn {
        gap: 6px;
    }



    .sec_mb {
        margin-bottom: 80px;
    }

    .ab_ne_le_img {
        width: 50%;
        top: -175px;
        right: 40px;
    }





}